<div class="row">
  
  <div>

    <div class="brand-header">
      <h2><strong>Work<i class="fa fa-diamond" aria-hidden:"true"></i>Gems</strong></h2>
      <h2>Showcase</h2>      
    </div>

    <div class="container-fluid">
      <div class="col-sm-12">
        <div class="row">
          
        </div>
      </div> 
    </div>


    <div class="brand-body"> 

      <table class="container table-lined table-hover">
        <thead>
          <tr>
            <th><h4><strong>Category</strong></h4></th>
            <th><h4><strong>Title</strong></h4></th>
            <th><h4><strong>Description</strong></h4></th>
            <th><h4><strong>Marquee</strong></h4></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @samples.each do |sample| %>
            <tr>
              <td class="text-center"><%= sample.category %></td>
              <td><%= sample.title %></td>
              <td><%= sample.description %></td>
              <td class="text-center"><%= sample.marquee %></td>
              <td>         
                <%= link_to sample do %>
                  <i class="fa fa-diamond">
                <% end %>
              </td>
              <td>
                <%= link_to edit_sample_path(sample) do %>
                 <i class="fa fa-pencil">
                <% end %>
              </td>
              <td>
                <%= link_to sample, method: :delete, data: { confirm: 'Are you sure you want to delete?' }  do %>
                  <i class="fa fa-trash-o">  
                <% end %>  
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <div class="text-center">
        <%= link_to 'New Gem', new_sample_path, class: 'btn btn-brand' %>
      </div>
      <br>
    </div>
  </div>
</div>

