<div class="row">
  
  <div class="col-md-10 col-md-offset-1">



    <div class="brand-header">
      <h2><strong>Work<i class="fa fa-diamond" aria-hidden:"true"></i>Gems</strong></h2>
      <h2>Forget your password?</h2>
    </div>

    <div class="jumbotron brand-body">

			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <div class="field form-group">
			    <%= f.label :email %><br />
			    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
			  </div>

			  <div class="actions">
			    <%= f.submit "Send me reset password instructions", class: 'btn btn-brand' %>
			  </div>
			<% end %>

			<br>

			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>
