<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<div class="brand-header">
			<h2>Work<i class="fa fa-diamond" aria-hidden:"true"></i>Gems</h2>
			<h2><strong>Feedback</strong></h2>
			<h4>How can we improve your experience?</h4>
		</div>
		
		<div class="jumbotron brand-body">
			<%= form_for @contact do |f| %>
				<div class="form-group">
					<%= f.label :name %>*
					<%= f.text_field :name, class: 'form-control' %>
				</div>

				<div class="form-group">
					<%= f.label :email %>*
					<%= f.email_field :email, class: 'form-control' %>
				</div>
				
				<div class="form-group">
					<%= f.label :comments %>
					<%= f.text_area :comments, class: 'form-control' %>
				</div>

				<%= f.submit "Submit", class: 'btn btn-brand'%>

			<% end %>
		</div>
		
	</div>
</div>